html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#spinButton{
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
}

#spinButton:hover{
  background-color: rgb(255, 195, 195);
}


#mainSection{
display: flex;
 width: 80%;
 height: 300px;
 margin: 5% 5% 0% 5%;
 padding: 5% 5% 0% 5%;
 /* background-color: blueviolet; */
 font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-size: 24px;
}

#hintDiv{
 width: 80%;
 height: 100px;
 margin: 0% 10% 0% 10%;
 padding: 0% 0% 0% 0%;
 background-color: #e3e643;
 border: solid black 1px;
 font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-size: 24px;
  text-align: center;
}